In [15]:
from sklearn.datasets import make_regression
import pandas as pd
import numpy as np

import plotly.express as px
import plotly.graph_objects as go

from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [16]:
X,Y = make_regression(n_samples=100, n_features=2, n_informative=2, n_targets=1, noise=50)
df = pd.DataFrame({'feature1':X[:,0],'feature2':X[:,1],'target':Y})
df.head()

   feature1  feature2     target
0  0.483788  0.051703  35.442586
1  0.390309  0.443047  23.953124
2 -0.159918 -0.980703 -30.350313
3 -1.150229  1.639713 -53.828991
4 -1.029826  0.615107 -28.045974

# Linear Regression (Multiple Regression)

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=3)

In [18]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr.fit(X_train,Y_train)
Y_pred = lr.predict(X_test)
print("Mae:",mean_absolute_error(Y_test,Y_pred))
print("Mse:",mean_squared_error(Y_test,Y_pred))
print("r2:",r2_score(Y_test,Y_pred))

Mae: 49.94255201021039
Mse: 3956.9617155491846
r2: 0.1982781148838656

In [19]:
print(lr.coef_)
print(lr.intercept_)

[39.62567843 10.37220587]
-3.580598058083229

In [20]:
from sklearn.linear_model import SGDRegressor
sgd = SGDRegressor(loss='squared_error')
sgd.fit(X_train,Y_train)
y_pred = sgd.predict(X_test)

In [21]:
print("Mae:",mean_absolute_error(Y_test,y_pred))
print("Mse:",mean_squared_error(Y_test,y_pred))
print("r2:",r2_score(Y_test,y_pred))

Mae: 49.96428823471846
Mse: 3958.5710602704107
r2: 0.19795204478856165

In [22]:
print(sgd.coef_)
print(sgd.intercept_)

[39.52505975 10.31704476]
[-3.61863395]

In [23]:
results = {
    "Model": ["Linear Regression","GD Regressor"],
    "Mae": [49.94255201021039, 49.96428823471846],
    "Mse": [3956.9617155491846, 3958.5710602704107],
    "R2" : [0.1982781148838656,0.19795204478856165]
}

df_results = pd.DataFrame(results)
df_results

               Model        Mae          Mse        R2
0  Linear Regression  49.942552  3956.961716  0.198278
1       GD Regressor  49.964288  3958.571060  0.197952